<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">What is HTML?</a></h2>
            <p>HTML is a simple code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page for the user.

HTML stands for "HyperText Markup Language". HyperText means it's a type of text that supports hyperlinks between pages. Markup means we have taken a document and marked it up with code to tell something (in this case, a browser) how to interpret the page. HTML code is built with tags, each one starting with( < )and ending with (>). These tags represent markup elements.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Head and Body</a></h2>
            <p>Head and body

Each HTML page is also divided into two elements: head and body.

    head is an element that contains information about the document that is not displayed on the screen.

    body is an element that contains everything else that is displayed as part of the web page.

We use (<)head(>) to tell the browser about the configuration of the page, and (<)body(>) to tell it what's actually on the page.</p>
        </div>
    </body>
</html>
